services:
  workspace:
    build: .
    volumes:
      - .:/workspace
    working_dir: /workspace
    tty: true
    stdin_open: true

  php:
    image: php:8.3-fpm
    container_name: php
    volumes:
      - .:/app
    working_dir: /app

  node:
    image: node:latest
    container_name: node
    ports:
      - "5174:5173"
    volumes:
      - .:/app
    working_dir: /app

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - .:/app
      - ./nginx.conf:/etc/nginx/conf.d/default.conf